%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for(@user, layout: :horizontal, control_col: "col-sm-6") do |f| 
        %header 
          %h1 Register
        = f.email_field :email, label: "Email Address"
        = f.password_field :password, label: "Password"
        = f.text_field :username, label: "Full Name"
        = hidden_field_tag :invitation_token, @invitation_token
        = f.form_group do
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key=#{ENV['STRIPE_PUBLISHABLE_KEY']} data-name="MyFlix Sign Up Charge" data-description="$9.99 to sign up for the best video service" data-currency="cad" data-amount="999"> </script> 